body{
    background-color: bisque;
}
.main{
    width: 40%;
    box-shadow: 1px 1px 10px whitesmoke;
    margin-top: 45px;
    padding: 10px;
}

h2{
        font-family: "Tac One", sans-serif;
        font-weight: 1000;
        font-style: normal;
}
input{
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 15px;
}
button{
border: none;
padding: 10px;
width: 30%;
font-weight: bold;
font-size: 15px;
background-color:green;
cursor: pointer;
font-family: "Roboto Condensed", sans-serif;
margin-bottom: 15px;
}
label{
padding: 10px;
cursor:pointer;
font-weight: bold;
font-size: 15px;
background-color: #1f87cf;
font-family: "Roboto Condensed", sans-serif;
color: aliceblue;
}
a{
text-decoration: none;
font-size: 20px;
color: tomato;
font-family: 'cairo' , sans-serif;

}
